.dashboard-container {
  padding: 30px;
  background-color: #f5f7fa;
  min-height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 { margin: 0; color: #2c3e50; }
h2 { margin-bottom: 20px; color: #555; }

/* GRIGLIA */
.grid-reparti {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive automatico */
  gap: 25px;
}

/* CARDS */
.card-reparto {
  cursor: pointer; /* Manina al passaggio del mouse */
  text-align: center;
  padding: 30px 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-reparto:hover {
  transform: translateY(-5px); /* Si alza leggermente */
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* ICONE COLORATE */
.icona-reparto {
  font-size: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.rosso { color: #e74c3c; } /* Cardiologia */
.blu { color: #3498db; }  /* Ortopedia */
.verde { color: #2ecc71; }  /* Chirurgia */
.arancione { color: #e67e22; }  /* Pronto Soccorso */

.viola { color: #9b59b6; }     /* Pediatria */
.indaco { color: #3f51b5; }    /* Neurologia */
.rosa { color: #e91e63; }      /* Ginecologia */
.azzurro { color: #00bcd4; }   /* Oculistica */


.marrone { color: #795548; }       /* Dermatologia */
.verde-acqua { color: #009688; }   /* Psichiatria */
.grigio-scuro { color: #607d8b; }  /* Radiologia */
.oro { color: #fbc02d; }           /* Geriatria */
