<div class="form-container">
  <h3>{{ isModifica ? 'Modifica Paziente' : 'Nuovo Paziente' }}</h3>

  <form (ngSubmit)="salva()" class="example-form">

    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="paziente.nome" name="nome" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cognome</mat-label>
      <input matInput [(ngModel)]="paziente.cognome" name="cognome" required>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" type="submit">
      {{ isModifica ? 'Salva Modifiche' : 'Aggiungi Paziente' }}
    </button>

    <button *ngIf="isModifica" mat-button type="button" (click)="resetForm()" style="margin-left: 10px;">
      Annulla
    </button>

  </form>
</div>
