.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ebe6dc;
}

.login-card {
  width: 100%;
  max-width: 400px; /* Non farla diventare troppo larga */
  padding: 20px;
}

.btn-block {
  width: 100%; /* Bottone largo quanto il form */
  height: 50px;
  font-size: 16px;
  margin-top: 10px;
}
