.area-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e3f2fd; /* Un azzurrino sanitario */
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

h1 { color: #1a237e; font-size: 2.5rem; margin-bottom: 10px; }
p { font-size: 1.2rem; color: #555; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonne */
  gap: 20px;
}

.btn-area {
  width: 200px;
  height: 80px;
  font-size: 18px !important;
  font-weight: bold;
}
