.page-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altezza schermo intero */
  background-color: #eceff1;
}

.main-card {
  max-width: 600px;
  width: 90%;
  padding: 20px;
  text-align: center;
}

mat-card-header {
  justify-content: center; /* Centra il titolo */
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Griglia responsive automatica */
  gap: 15px;
  margin-top: 10px;
}

.btn-area {
  height: 60px;
  font-size: 16px;
}
