<div class="area-container">
  <div class="header">
    <h1>Portale Sanitario Regionale</h1>
    <p>Seleziona la tua ASL di riferimento per procedere al Login</p>
  </div>

  <div class="grid-container">
    <button mat-raised-button color="primary" class="btn-area" (click)="selezionaArea('Bari')">
      ASL BARI
    </button>

    <button mat-raised-button color="primary" class="btn-area" (click)="selezionaArea('Brindisi')">
      ASL BRINDISI
    </button>

    <button mat-raised-button color="primary" class="btn-area" (click)="selezionaArea('Lecce')">
      ASL LECCE
    </button>

    <button mat-raised-button color="primary" class="btn-area" (click)="selezionaArea('Foggia')">
      ASL FOGGIA
    </button>

    <button mat-raised-button color="primary" class="btn-area" (click)="selezionaArea('Taranto')">
      ASL TARANTO
    </button>

    <button mat-raised-button color="primary" class="btn-area" (click)="selezionaArea('BAT')">
      ASL BAT
    </button>
  </div>
</div>
